
.approval {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    @include for-desktop-only {
        align-items: center;
        justify-content: center;
        margin: 0;
        width: 50%;
    }

    &__label {
        align-items: center;
        background-color: $light-grayish-magenta;
        border-radius: 8px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 12vh;
        justify-content: center;
        margin: .5rem auto;
        width: 95%;
        @include for-desktop-only {
            height: 12%;
            flex-direction: row;
            margin: .5rem 0;
            width: 80%;
        }
    }

    &__icon-box {
        display: inline-flex;
        justify-content: space-around;
        margin: .5rem;
        width: 40%;
    }

    &__description {
        color: $very-dark-magenta;
        font-weight: 700;
        margin: .5rem;
        @include fontSize(14px);
    }
}

.approval__label:first-child {
    align-self: flex-start;
}
.approval__label:last-child {
    align-self: flex-end;
}