
.header {
    height: 60vh;
    padding: 1.5rem;
    width: 100%;    
    @include for-desktop-only {
        color: $white;
        height: 90%;
        padding: 1rem;
        margin-top: 2.5rem;
        width: 35%;
    }

    &__title {
        color: $very-dark-magenta;
        font-weight: 700;
        margin-top: 4rem;
        text-align: center;
        @include fontSize(34px);
        @include for-desktop-only {
            text-align: left;
            @include fontSize(45px);
        }
    }

    &__content {
        color: $very-dark-magenta;
        font-weight: 400;
        line-height: 1.25rem;
        margin-top: 2.5rem;
        opacity: .7;
        text-align: center;
        @include fontSize(16px);
        @include for-desktop-only {
            margin-bottom: 1.5rem;
            margin-top: 1.5rem;
            text-align: left;
        }
    }
}

.desktop-only {
    @include for-desktop-only {
        display: flex;
        flex-direction: row;
    }
}