.benefits {
    @include display-direction-align (flex, column, center);

    &__container {
        padding: 20% 0;
        @include display-direction-align (flex, column, center);
        //---   DESKTOP   ---//
        @include for-desktop-only {
            justify-content: space-evenly;
            padding: 5% 0;
            @include display-direction-align (flex, row-reverse, center);
        }

        &:first-child {
            background-color: $pale-blue;
        }
        &:nth-child(2) {
            background-image: url(../images/mobile-img/bg-section-bottom-mobile-1.svg),
                              url(../images/mobile-img/bg-section-top-mobile-2.svg);
            background-position-y: 0, 100%;
            background-repeat: no-repeat;
            height: 115vh;
            justify-content: center;
            //---   DESKTOP   ---//
            @include for-desktop-only {
                background-image: url(../images/desktop-img/bg-section-bottom-desktop-1.svg),
                                  url(../images/desktop-img/bg-section-top-desktop-2.svg);
                background-position-y: 0, 100%;
                background-repeat: no-repeat;
                justify-content: space-evenly;
                padding: 5% 0;
                height: 60vh;
                @include display-direction-align (flex, row, center);
            }            
        }

        &:nth-child(3) {
            background-color: $pale-blue;
            height: 115vh;
            justify-content: center;
            //---   DESKTOP   ---//
            @include for-desktop-only {
                justify-content: space-evenly;
                padding: 5% 0;
                height: 35vh;
                @include display-direction-align (flex, row, center);
            } 
        }

        &:last-child {
            background-image: url(../images/mobile-img/bg-section-bottom-mobile-2.svg),
                              url(../images/mobile-img/bg-footer-top-mobile.svg);
            background-position-y: 0, 100%;
            background-repeat: no-repeat;
            height: 90vh;
            justify-content: center;
            width: 100%;
            //---   DESKTOP   ---//
            @include for-desktop-only {
                background-image: url(../images/desktop-img/bg-section-bottom-desktop-2.svg),
                                  url(../images/desktop-img/bg-footer-top-desktop.svg);
                background-position-y: 0, 101%;
                background-repeat: no-repeat;
                justify-content: center;
                padding: 5% 0;
                height: 50vh;
                @include display-direction-align (flex, column, center);
            } 
        }

        &___img {
            margin-bottom: 20%;
            width: 80%;
            //---   DESKTOP   ---//
            @include for-desktop-only {
                margin-bottom: 5%;
                width: 40%;
            }

            &:nth-child(2) {
                @include for-desktop-only {
                    width: 70%;
                }
            }
        }

        &___box-info {
            @include display-direction-align (flex, column, center);
            justify-content: center;
            //---   DESKTOP   ---//
            @include for-desktop-only {
                width: 40%;
                @include display-direction-align (flex, column, flex-start);
            }
        }

        &___title {
            @include color-fontSize($very-dark-cyan, 1.2rem);
            font-weight: 700;
            margin: 0 0 5%;
            //---   DESKTOP   ---//
            @include for-desktop-only {
                @include color-fontSize($very-dark-cyan, 3rem);
            }
        }

        &___title--cta {
            @include color-fontSize($very-dark-cyan, 1.25rem);
            font-weight: 700;
            line-height: 1.5rem;
            margin: 0 0 5%;
            text-align: center;
            width: 80%;
            //---   DESKTOP   ---//
            @include for-desktop-only {
                @include color-fontSize($very-dark-cyan, 2.5rem);
            }
        }

        &___content {
            font-size: 12px;
            line-height: 1rem;
            text-align: center;
            width: 80%;
            //---   DESKTOP   ---//
            @include for-desktop-only {
                font-size: 1.1rem;
                line-height: 1.5rem;
                text-align: left;
            }
        }
    }

}