.build {
    background-image: url(../images/mobile-img/bg-section-top-mobile-1.svg);
    background-position-y: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 6%;
    @include display-direction-align (flex, column, center);
    //---   DESKTOP   ---//
    @include for-desktop-only {
        background-image: url(../images/desktop-img/bg-section-top-desktop-1.svg);
        background-position-y: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        justify-content: center;
    }

    &__header {
        margin: 0 0 10%;
        flex-wrap: nowrap; 
        @include display-direction-align (flex, column, center);
        //---   DESKTOP   ---//
        @include for-desktop-only {
            margin: 0 0 3%;
        }
    }

    &__title {
        @include color-fontSize($very-dark-cyan, 1.25rem);
        font-family: 'Poppins', sans-serif;
        margin: 0 0 10%;
        text-align: center;
        width: 80%;
        //---   DESKTOP   ---//
        @include for-desktop-only {
            @include color-fontSize($very-dark-cyan, 2.75rem);
            margin: 0 0 2.5%;
            width: 85%;
        }
    }

    .content, .generic--button {
        margin-bottom: 15%;
        //---   DESKTOP   ---//
        @include for-desktop-only {
            margin-bottom: 5%;
        }
    }

    &__img {
        margin-bottom: 15%;
        width: 90%;
        //---   DESKTOP   ---//
        @include for-desktop-only {
            margin-bottom: 5%;
        }
    }

    &__container--info {
        margin-bottom: 10%;
        width: 40%;
        @include display-direction-align (flex, column, center);
        //---   DESKTOP   ---//
        @include for-desktop-only {
            justify-content: space-around;
            margin-bottom: 3%;
            padding: 5%;
            width: 90%;
            @include display-direction-align (flex, row, center);
        }
    }

    &__container___article {
        margin-bottom: 50%;
        @include display-direction-align (flex, column, flex-start);
        //---   DESKTOP   ---//
        @include for-desktop-only {
            margin-bottom: 5%;
            width: 20%;
            @include display-direction-align (flex, column, flex-start);
        }
    }

    &__container___img {
        width: 18%;
        //---   DESKTOP   ---//
        @include for-desktop-only {
            width: 20%;
        }
    }

    &__container___counter {
        @include color-fontSize($very-dark-cyan, 3rem);
        font-weight: 700;
        margin: 5% 0 7.5%;
        //---   DESKTOP   ---//
        @include for-desktop-only {
            @include color-fontSize($very-dark-cyan, 5rem);
        }
    }

    &__container___info {
        color: rgba(0, 37, 46, .5);
        font-size: .75rem;
        //---   DESKTOP   ---//
        @include for-desktop-only {
            font-size: 1.25rem;
        }
    }
}