@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    box-sizing: border-box;
}
//headings --->  font-family: 'Poppins', sans-serif;

$pink: rgb(255, 82, 191);
$light-pink: rgb(255, 143, 216);
$light-red: rgb(255, 66, 66);
$very-dark-cyan: rgb(0, 37, 46);
$very-pale-blue: rgb(245, 250, 255);
$pale-blue: rgb(247, 252, 255);
$blue-hover-social: rgb(1, 160, 250);

@mixin for-desktop-only {
    @media screen and (min-width:1440px) {
        @content;
    }
}
@mixin display-direction-align($display, $direction, $align) {
    display: $display;
    flex-direction: $direction;
    align-items: $align;
}
@mixin width-height($width, $height) {
    width: $width;
    height: $height;
}
@mixin color-fontSize($color, $fontSize) {
    color: $color;
    font-size: $fontSize;
}
@mixin borderNone-bordeRadius($border, $borderRadius) {
    border: $border;
    border-radius: $borderRadius;
}

.content {
    text-align: center;
    line-height: 1.25rem;
    color: $very-dark-cyan;
    //---   DESKTOP   ---//
    @include for-desktop-only {
        font-size: 1.25rem;
        line-height: 1.75rem;
        width: 48%;
    }
}

.generic--button {
    @include color-fontSize(white, 12px);
    @include borderNone-bordeRadius(none, 24px);
    @include width-height(60%, 2.25rem);
    background-color: $pink;
    box-shadow: 0px 4px 4px 0px rgba(0, 37, 46,.2);
    &:hover {
        cursor: pointer;
        background-color: $light-pink;
    }
    //---   DESKTOP   ---//
    @include for-desktop-only {
        @include color-fontSize(white, 1.25rem);
        @include width-height(35%, 4.25rem);
        @include borderNone-bordeRadius(none, 48px);
    }
}

@import 'regular', 'brands', 'solid', 'fontawesome';
@import 'header', 'build', 'benefits', 'footer';