//Cores Primarias:
$azul-brilhante: hsl(245, 75%, 52%);
$azul-palido: hsl(225, 100%, 94%);
//Cores Neutras:
$azul-desaturado: hsl(224, 23%, 55%);
$azul-escuro: hsl(223, 47%, 23%);
$azul-muito-palido: hsl(225, 100%, 98%);

//Função calcular REM e Mixin da Função:
@function calculaRem($size) {
    @return calc($size / 16px) * 1rem;
}

@mixin fontSize($size) {
    font-size: calculaRem($size);
}

//Responsividade
@mixin desktop-only {
    @media  (min-width: 1439.98px) { @content;}
}
/*  -------------------------------------------------------------------------------------------  */
.fundo {
    background-color: $azul-muito-palido;
    background-image: url(../images/pattern-background-mobile.svg) ;
    background-repeat: no-repeat;
    @include desktop-only {
        background-color: $azul-palido;
        background-size: cover;
    }
}

.componente {
    background-color: white;
    border-radius: 16px;
    box-sizing: border-box;
    box-shadow: 0px 25px 25px 0px #d9d7fa;
    display: flex;
    font-family: 'Red Hat Display', sans-serif;
    flex-direction: column;
    height: 550px;
    justify-content: center;
    margin: 25px auto;
    width: 90%;
    @include fontSize(16px);

    //Responsivo:
    @include desktop-only {
        height: 75%;
        margin-top: 12.5%;
        width: 30%;
    }


    &__box {
        display: flex;
        flex-direction: column;
        height: 70%;
        padding: 20px;
        width: 88%;
        //Responsivo:
        @include desktop-only {
            width: 91%;
        }
    }

    &__imagem {
        border-radius: 16px 16px 0 0;
        height: 27%;
        width: 100%;
    }

    &__titulo {
        color: $azul-escuro;
        font-weight: 900;
        margin: 10px 0 10px 0;
        text-align: center;
        @include fontSize(22px);
        //Responsivo:
        @include desktop-only {
            @include fontSize(26px);
        }
    }

    &__conteudo {
        color: $azul-desaturado;
        font-weight: 500;
        line-height: 1.5rem;
        margin: .5rem;
        text-align: center;
        @include fontSize(16px);
        //Responsivo:
        @include desktop-only {
            margin: .5rem 1rem;
            @include fontSize(16px)
        }
    }

    &__info-pagamento {
        align-items: center;
        background-color: $azul-muito-palido;
        border-radius: 16px;
        box-sizing: border-box;
        display: flex;
        height: 5rem;
        justify-content: flex-start;
        margin: 1.25rem 0 1.25rem 0;
        padding: .75rem;
        //Responsivo:
        @include desktop-only {
            margin: 1.5rem;
        }
    }

    &__botao-play {
        background-color: $azul-palido;
        border: none;
        border-radius: 50%;
        box-sizing: border-box;
        height: 48px;
        margin: 0 20px 0 12px;
        width: 48px;
    }

    &__descricao {
        margin-right: 50px;
        @include fontSize(14px);
        //Responsivo:
        @include desktop-only {
            margin-right: 100px;
        }
    }

    &__descricao___titulo {
        color: $azul-escuro;
        font-weight: 900;
        margin-bottom: .5rem;
    }

    &__descricao___subtitulo {
        color: $azul-desaturado;
    }

    &__descricao___link {
        @include fontSize(12px);
        font-weight: 900;
        //Estado ativo:
        :hover {
            color: $azul-desaturado;
            cursor: pointer;
            text-decoration: none;
        }
    }

    &__botao {
        background-color: $azul-brilhante;
        border: none;
        border-radius: 8px;
        box-sizing: border-box;
        box-shadow: 0px 25px 25px 0px #d9d7fa;
        color: white;
        height: 3rem;
        font-weight: 600;
        @include fontSize(14px);
        //Responsivo:
        @include desktop-only {
            margin: 1.5rem;
            margin-top: .25rem;
        }
        //Estado ativo:
        :hover {
            cursor: pointer;
            background-color: $azul-desaturado;
            color: white;
        }
    }

    .pagar {
        margin-bottom: 1rem;
        //Responsivo:
        @include desktop-only {
            margin-bottom: .25rem;
        }
    }

    .cancelar {
        background-color: initial;
        box-shadow: initial;
        color: $azul-desaturado;
        //Responsivo:
        @include desktop-only {
            margin-bottom: .25rem;
        }
        //Estado ativo:
        :hover {
            cursor: pointer;
            color: $azul-escuro;
        }
    }
}

//Font Awesome:
.fa-music {
    color: $azul-desaturado;
    font-size: 18px;
}