.card-subscription {

    background-color: $cyan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include for-desktop-only {
        border-radius: 0 0 0 8px;
        padding: 1.75rem 1.5rem 0;
        width: 50%;
    }    

    &__title {
        @include card-title (white, 18px, 400, 1rem);
        @include for-desktop-only {
            padding: 1rem 1rem .5rem 1rem;
        }
    }

    &__content {
        @include card-title (white, 32px, 400, 1rem);
        @include for-desktop-only {
            padding: .5rem 1rem .5rem 1rem;
        }
    }

    &__content span {
        color: white;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5rem;
        opacity: .5;
        vertical-align: 25%;
        @include for-desktop-only {
            padding: 1rem 1rem .5rem 1rem;
        }
    }

    &__button {
        background-color: $bright-yellow;
        border: none;
        border-radius: 4px;
        box-sizing: border-box;
        box-shadow: 0px 10px 25px -5px rgba(0,0,0,.3);
        color: white;
        font-size: .9rem;
        font-weight: 700;
        padding: 1rem;
        margin: 7.5% 7.5%;
        width: 85%;
        @include for-desktop-only {
            margin: 12% 7%
        }
    }
}

[data-content] {
    font-size: 16px;
}