.clipboard {
    height: 80vh;
    padding: 0 5%;
    @include display-direction(flex, column, center);

    &__img {
        width: 95%;
        @include for-desktop-only {
            width: 70%;
        }
    }
}
