.clipboard-for {
    height: 80vh;
    padding: 0 5%;
    @include display-direction(flex, column, center);

    &__button-box {

        @include for-desktop-only {
            justify-content: space-between;
            width: 50%;
            @include display-direction(flex, row, center);
        }
    }

    @include for-desktop-only {
        height: 40vh;
    }
}
