.snippets {
    padding: 0 5%;
    @include display-direction(flex, column, center);

    &__header {
        @include display-direction(flex, column, center);
    }

    &__header .description {
        font-size: 1rem;
    }

    &__img {
        align-self: center;      
        margin: 15% 0;  
        width: 85%;
        @include for-desktop-only {
            width: 50%;
        }
    }

    &__content {
        height: 140vh;
        @include display-direction(flex, column, center);

        @include for-desktop-only {
            height: 60vh;
            @include display-direction(flex, row, center);
        }
    }

    &__content-info {
        @include for-desktop-only {
            width: 50%;
            @include display-direction(flex, column, center);
        }
    }
}