//Cores
$strong-cyan: #26baa4;
$light-blue: rgb(97, 115, 255);
$button-mac-shadow: rgba(97, 115, 255, 0.5);
$button-ios-shadow: rgba(35, 141, 123, 0.95);
//Neutros
$dark-grayish-blue: rgb(76, 84, 93);
$footer-bg: rgba(76, 84, 93, 0.1);
$grayish-blue: rgb(159, 171, 178);

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

@mixin bg-style($bg-repeat, $bg-size) {
    background-repeat: $bg-repeat;
    background-size: $bg-size;
}

@mixin display-direction ($display, $direction, $align-items) {
    display: $display;
    flex-direction: $direction;
    align-items: $align-items;
}

@mixin text-style($color, $font-size, $font-weight, $line-height, $text-align) {
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    text-align-last: $text-align;
}

@mixin for-desktop-only {
    @media screen and (min-width: 1440px) {
        @content;
    } 
}

body {
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.125rem;
}

.title {
    margin: 5% 0;
    width: 80%;
    @include text-style($dark-grayish-blue, 2rem, 700, 2.25rem, center);

    @include for-desktop-only {
        margin: 2% 0;
        text-align: center;//????
        @include text-style($dark-grayish-blue, 2.5rem, 700, 2.25rem, center);
    }
}

.subtitle {
    margin: 2.5% 0;
    width: 80%;
    @include text-style($dark-grayish-blue, 1.5rem, 700, 1.5rem, center);
}

.description {
    margin-bottom: 10%;
    width: 80%;
    @include text-style($grayish-blue, .9rem, 400, 1.65rem, center);
    
    @include for-desktop-only {
        margin-bottom: 2.5%;
        width: 50%;
        text-align: center;//??????
        @include text-style($grayish-blue, 1.10rem, 400, 1.65rem, center);
    }
}

.button-ios, .button-mac {
    background-color: $strong-cyan;
    border: none;
    border-bottom: 3px solid $button-ios-shadow;
    border-radius: 30px;
    box-shadow: 0px 5px 25px 10px rgba(38, 186, 164, .3);
    color: white;
    font-size: 1rem;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 700;
    height: 10vh;
    opacity: .8;
    margin: 2.5% 0;
    width: 100%;
    &:hover {
        cursor: pointer;
    }

    @include for-desktop-only {
        font-size: 1.2rem;
        font-weight: 400;
        height: 6vh;
        width: 47.5%;
    }
}

.button-mac {
    background-color: $light-blue;
    border-bottom: 3px solid $button-mac-shadow;
    box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, .3);
}

@import 'header', 'snippets', 'clipboard', 'workflow', 'clipboard-for', 'footer';