/*---------------------------------------------------------------------------------*/
body {
  background: #6565e7;
  background: linear-gradient(360deg, #6565e7 0%, #af67e9 100%);
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
  height: 100%;
}

.card__faq {
  background-color: white;
  border-radius: 24px;
  box-sizing: border-box;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.5);
  height: 100%;
  overflow: hidden;
  margin: 10rem auto;
  width: 90%;
}
@media (min-width: 1439.98px) {
  .card__faq {
    display: flex;
    flex-direction: row;
    width: 65%;
  }
  .card__faq .desktop-only {
    width: 50%;
  }
}

.desktop-only-img {
  width: 50%;
}
@media (min-width: 1439.98px) {
  .desktop-only-img {
    background-image: url(../images/illustration-woman-online-desktop.svg);
    background-position: -81px 90px;
    background-repeat: no-repeat;
  }
}

.titulo {
  font-size: 32px;
  font-weight: 700;
  padding-top: 8rem;
  text-align: center;
}
@media (min-width: 1439.98px) {
  .titulo {
    margin-left: 1.25rem;
    padding-top: 5rem;
    padding-bottom: 2rem;
    text-align: left;
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 3.5rem;
  justify-content: center;
  margin: 8px 20px;
}
.container__img {
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.container__img___box {
  height: 90px;
  left: 70px;
  position: absolute;
  top: 7.5rem;
  width: 90px;
  z-index: 10;
}
@media (min-width: 1439.98px) {
  .container__img___box {
    height: 180px;
    left: 162px;
    top: 23.6rem;
    width: 180px;
  }
}
.container__img___pattern-desktop {
  display: none;
}
@media (min-width: 1439.98px) {
  .container__img___pattern-desktop {
    display: inline;
    left: -220px;
    overflow: hidden;
    position: absolute;
    top: -10px;
    width: 60%;
  }
}
.container__img___woman {
  display: inline;
  left: 75px;
  position: absolute;
  top: 3.7rem;
  width: 60%;
}
@media (min-width: 1439.98px) {
  .container__img___woman {
    display: none;
  }
}
.container__img___pattern-mobile {
  left: 75px;
  position: absolute;
  top: 10.25rem;
  width: 60%;
}
@media (min-width: 1439.98px) {
  .container__img___pattern-mobile {
    display: none;
  }
}
.container__pergunta {
  align-items: center;
  border-bottom: 1px solid #e7e7e9;
  display: flex;
  font-size: 12px;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0;
}
.container__pergunta___titulo {
  font-size: 14px;
  padding: 0.75rem 0;
}
.container__pergunta___titulo:hover {
  color: rgba(255, 0, 0, 0.5);
  cursor: pointer;
  font-weight: 700;
}
.container__pergunta___icone {
  height: 7px;
  width: 10px;
}
.container__resposta {
  max-height: 0;
  overflow: hidden;
  transition: max-height 2s ease;
}
.container__resposta___conteudo {
  color: #787887;
  font-size: 12px;
  height: 2rem;
  width: 90%;
}

.container:last-child {
  padding-bottom: 2rem;
}

.container.ativo .container__resposta {
  max-height: 250px;
  margin-bottom: 0.75rem;
  overflow: visible;
}

.container.ativo .container__pergunta___icone {
  transform: rotate(180deg);
}

.container__pergunta___icone {
  transition: transform 0.35s ease-in;
}

/*# sourceMappingURL=style.css.map */
