//Cores
$azul-desaturado-muito-escuro: hsl(238, 29%, 16%);
$vermelho-suave: hsl(14, 88%, 65%);
//background
$azul-suave: hsl(240, 73%, 65%);
$roxo-suave: hsl(273, 75%, 66%);
//textos neutros
$azul-acinzentado-escuro: hsl(240, 6%, 50%);
$azul-acinzentado-muito-escuro: hsl(237, 12%, 33%);
//divisores
$azul-acinzentado-claro: hsl(240, 5%, 91%);

//Mixin para o Responsivo:
@mixin desktop-only { 
    @media (min-width: 1439.98px) { @content; } 
}
/*---------------------------------------------------------------------------------*/
body {
    background: rgb(101,101,231);
    background: linear-gradient(360deg, rgba(101,101,231,1) 0%, rgba(175,103,233,1) 100%);
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    height: 100%;
}

.card__faq {
    background-color: white;
    border-radius: 24px;
    box-sizing: border-box;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.5);
    height: 100%;
    overflow: hidden;
    margin: 10rem auto;
    width: 90%;
    //Responsivo:
    @include desktop-only {
        display: flex;
        flex-direction: row;
        width: 65%;        
        .desktop-only {
            width: 50%;
        }
    }
}

.desktop-only-img {
    width: 50%;
    
    @include desktop-only {
        background-image: url(../images/illustration-woman-online-desktop.svg);
        background-position: -81px 90px;        
        background-repeat: no-repeat;
    }
}

.titulo {
    font-size: 32px;
    font-weight: 700;
    padding-top: 8rem;
    text-align: center;
    //Responsivo:
    @include desktop-only {
        margin-left: 1.25rem;
        padding-top: 5rem;
        padding-bottom: 2rem;
        text-align: left;
    }
}    
.container {    
    display: flex; 
    flex-direction: column;
    height: 3.5rem;
    justify-content: center;
    margin: 8px 20px;

    &__img {
        height: 100%; 
        overflow: hidden;       
        width: 100%;
    }

    &__img___box {
        height: 90px;
        left: 70px;
        position: absolute;
        top: 7.5rem;
        width: 90px;
        z-index: +10;
        //Responsivo:
        @include desktop-only {
            height: 180px;
            left: 162px;
            top: 23.6rem;
            width: 180px;
        }
    }

    &__img___pattern-desktop {
        display: none;
        //Responsivo:
        @include desktop-only {
            display: inline;
            left: -220px;
            overflow: hidden;
            position: absolute;
            top: -10px;
            width: 60%;
        }
    }

    &__img___woman {
        display: inline;
        left: 75px;
        position: absolute;        
        top: 3.7rem;
        width: 60%;
        //Responsivo:
        @include desktop-only {
            display: none;
        }
    }

    &__img___pattern-mobile {
        left: 75px;
        position: absolute;
        top: 10.25rem;
        width: 60%;
        //Responsivo
        @include desktop-only {
            display: none;
        }
    }

    &__pergunta {
        align-items: center;
        border-bottom: 1px solid $azul-acinzentado-claro;
        display: flex;
        font-size: 12px;
        flex-direction: row;
        justify-content: space-between;
        margin: 1rem 0;
    }

    &__pergunta___titulo {
        font-size: 14px;
        padding: .75rem 0;
    }

    &__pergunta___titulo:hover {
        color: rgba(255,0,0,0.5);
        cursor: pointer;
        font-weight: 700;
    }

    &__pergunta___icone {
        height: 7px;
        width: 10px;
    }

    &__resposta {
        max-height: 0; 
        overflow: hidden; 
        transition: max-height 2s ease;
    }

    &__resposta___conteudo {
        color: $azul-acinzentado-escuro;
        font-size: 12px;
        height: 2rem;
        width: 90%;
    }
}

.container:last-child {
    padding-bottom: 2rem;    
}

.container.ativo .container__resposta{
    max-height: 250px;
    margin-bottom: .75rem;
    overflow: visible;
}

.container.ativo .container__pergunta___icone {
    transform: rotate(180deg);
}

.container__pergunta___icone {
    transition: transform 0.35s ease-in;
}
