//colors
$cyan: hsl(178, 100%, 50%);
$dark-blue-card: hsl(216, 50%, 16%);
$dark-blue-body: hsl(217, 54%, 11%);
$dark-blue-line: hsl(215, 32%, 27%);
$soft-blue: hsl(215, 51%, 70%);
$white: hsl(0, 0%, 100%);

//placeholders
%margin-left-bottom {
    margin-bottom: 20px;
    margin-left: 6%;
}

.body{
    align-items: center;
    background-color: $dark-blue-body;
    display: flex;
    justify-content: center;
}

.main {
    background-color: $dark-blue-body;
}

.card {
    background: $dark-blue-card;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Outfit', 'Montserrat', sans-serif;
    font-size: 18px;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 25% auto;
    width: 90%;

    &__img {
        box-sizing: border-box;
        border-radius: 10px;
        margin: 6%;
        width: 88%;
    }

    &__img-hover {
        align-items: center;
        display: flex;
        /*
        corresponde a propriedade e/ou; assume o valor da propriedade left;
        neste caso, sendo 0, alinha o item ao centro da tela
        */
        inset: 0;
        height: 48vh; //mexer aqui
        justify-content: center;
        margin: 12.5% auto; //mexer aqui
        position: absolute;
        //torna o item "invisível" em valor 0;
        opacity: 0;
        transition: 0.3s;
        width: 33%; //mexer aqui
        &:hover {
            background-color: rgba(0, 255, 247, 0.7);
            cursor: pointer;
            opacity: 1;
        }
    }

    &__img-hover-eye {
        height: 2.75rem;
        width: 2.75rem;
    }

    &__title {
        color: $white;
        font-weight: 600;
        font-size: 24px;
        @extend %margin-left-bottom;
        &:hover {
            color: $cyan;
            cursor: pointer;
        }        
    }

    &__content {
        color: $soft-blue;
        font-size: 18px;
        font-weight: 100;
        line-height: 24px;
        opacity: .9;
        width: 85%;
        @extend %margin-left-bottom;
    }

    &__content-right {
        text-align: right;
    }

    &__infos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @extend %margin-left-bottom;
        margin-right: 20px;
    }

    &__infos-numbers {
        align-items: center;
        display: flex;
        width: 40%;
    }

    &__break {
        box-sizing: border-box;
        border-bottom: 0.1em solid $dark-blue-line;
        margin-left: 20px;
        width: 90%;
    }

    &__icon-ether {
        height: 1.25rem;
        margin-right: 8px;
    }

    &__content-left {
        color: $cyan;
        font-size: 1rem;
    }

    &__icon-clock {
        margin-right: 8px;
    }

    &__content-right {
        color: $soft-blue
    }

    &__infos-person {
        align-items: center;
        display: flex;
        @extend %margin-left-bottom;
        margin-top: 20px;
    }

    &__infos___img {
        border-radius: 50%;
        border: 1px solid $white;
        display: flex;
        flex-direction: row;
        height: 32px;
        margin-right: 20px;
        width: 32px;
    }

    &__infos___content {
        color: $soft-blue;
        display: flex;
        flex-grow: 0;
        font-size: 16px;
        width: 60%;        
    }

    
    &__infos___content-state {
        color:$white;
        margin-left: 3px;
        &:hover {
            color: $cyan;
            cursor: pointer;
        }
    }
}
